[flake8]
inline-quotes = double
ignore =
    E501
    W503
    PLC0103
    PLC0111
    PLC0112
    PLC0114
    PLC0115
    PLC0116
    PLC0301
    PLR0911
    PLE0401
per-file-ignores =
    tests/*:S101,B011,ANN
exclude =
    .git
    .github
    __pycache__
    .venv
