name: Build Release

on:
  push:
    tags:
    - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v6

      - name: Install poetry
        run: pipx install poetry

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13.x"
          cache: "poetry"

      - name: Run python build
        run: |
          poetry version ${{ github.ref_name }}
          poetry build --no-interaction

      - name: Update release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/*
            CHANGELOG.md
          tag_name: "${{ github.ref_name }}"

      - run: |
          echo "Finished building for version ${{ github.ref_name }}."
